//фильмы
@mixin for-size($size) {
  @if $size==mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $size==tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size==max-desktop {
    @media (max-width: 1279px) {
      @content;
    }
  } @else if $size==desktop {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $size==hd-desktop {
    @media (min-width: 1680px) {
      @content;
    }
  }
}
.movies {
  padding: 14px 0 28px;
  // margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include for-size(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__image {
    border-radius: 10px;
    margin: 0 auto;
  }
  &__item {
    // border: 1px solid E74C3C;
    // border-radius: 15px;
    position: relative;
    width: 100%;
    // height: 150px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 17px 4px #e74c3c;
      transform: scale(1.05);
    }

    @include for-size(tablet) {
      width: 220px;
    }
  }

  &__item-rating {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: white;
    padding: 0 8px;
    border-radius: 15px;
  }

  &__title {
    position: absolute;
    font-size: 15px;
    left: 10px;
    bottom: 10px;
    color: white;
    font-weight: 600;
    font-size: 1em;
  }

  &__not-found {
    padding: 10px;
    background-color: rgba($color: yellow, $alpha: 0.3);
    display: block;
    margin: 0 auto;
  }
}

//топ скролл

.scroll-top {
  @include for-size(mobile) {
    position: fixed;
    right: 16px;
    bottom: 19px;
    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: 1px solid #68a8a3;
      border-radius: 50%;
      background-color: #8ecbc6;
      box-shadow: 0px 0px 4px 2px #6aaca6;
    }
  }
  @include for-size(tablet) {
    width: 0;
  }
}
