.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
}
.descr {
  display: flex;
  align-items: center;
}
